<div class="navBar">
  <div class="navBar-main">
    <span class="navBar-brand">
      Sketctwar Copy
    </span>
    <a href="javascript:void(0);" class="navBar-toggle" onclick="toggleNav()">
      <span class="material-icons-round" id="toggle-icon">
        menu
      </span>
    </a>
  </div>
  <div class="navBar-menu">
    <ul>
        <li><a {% if(include.pagename == "home") %} href="#"  class="active" {% else %} href="/" {% endif %}>Home</a></li>
        <li><a {% if(include.pagename == "branding") %} href="#"  class="active" {% else %} href="/branding" {% endif %}>Branding</a></li>
        <li><a {% if(include.pagename == "blog") %} href="#"  class="active" {% else %} href="/blog" {% endif %}>Blog</a></li>
    </ul>
  </div>
</div>