<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="name"        content="Skatchwar Kopi &bull; {{ page.title }}">
    <meta name="description" content="Blokk is a sketchware alternative.">
    <meta name="keywords"    content="blok, blokk, open, block, sketchware">
    <meta name="theme-color" content="#007b3f">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Round">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="icon" href="/img/favicon.png">

    <script defer src="/js/main.js"></script>

    <title>Skatchwar Kopi &bull; {{ page.title }}</title>
  </head>
  <body>
    {% include header.html pagename=page.pagename %}

    <div class="mainContent">
      {{ content }}
    </div>

    {% include footer.html %}
  </body>
</html>
